.done {
    text-decoration: line-through;
}

.entity-list li {
    line-height: 30px;
}

.inline-button {
    display: none;
    margin: 0 0 0 10px;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-size: 15px;
}

.form-element {
    margin-bottom: 15px;
}

.form-element label {
    display: block;
}